@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Poppins:ital,wght@0,400;0,700;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    width: 100vw;

}

.image-container {
    background-image: url('./images-env/image.png');
    height: 70vh;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: brightness(0.2);
}

.main {
    background-color: #151714;
    padding: 10px;
}

.sec-1 {
    height: 80vh;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.importance {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.importance > h2 {
    color: #fff;
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(20px, 1vw, 40px);
}

.importance .bi {
    color: rgb(16, 218, 16);
    margin: 2px;
}

.importance>h2 .bi {
    font-size: clamp(20px, 1vw, 40px);
}

.imp-title {
    background-image: url('./images-env/planting.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    z-index: 5;
}

.imp {
    position: absolute;
    z-index: 10;
    width: 45%;
    padding: 10px;
    align-items: center;
    text-align: center;
    height: 120px;
    background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 8px 32px 0 rgba(24, 82, 31, 0.37);
        backdrop-filter: blur(10.5px);
        -webkit-backdrop-filter: blur(10.5px);
        border-radius: 10px;
        border: 1px solid lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imp >h5 {
    font-weight: 700;
    color: #fff;
    margin-bottom: 6px;
    font-size: clamp(10.5px, 1vw, 20px);
}

.imp>p {
    font-size: clamp(9px, 1vw, 15px);
    color: #fff;
    font-weight: 300;
}

.imp.imp-1 {
    top: clamp(20%, 1vw, 5%);
    left: 0%;
    
}

.imp.imp-2 {
    top: clamp(20%, 1vw, 5%);
    right: 0%;
}

.imp.imp-3 {
    bottom:clamp(20%, 1vw, 5%);
    left: 0%;
}

.imp.imp-4 {
    bottom: clamp(20%, 1vw, 5%);
    right: 0%;
}

